*.RData
*.Rhistory
*.Rproj.user
*.Rproj
*.bat
*.R
*.Rout
*.txt
*.zip
*.ini
backend/
estimates-TMC/
original-sources/dshs-new-cases/
dshs-scrape.py
.vscode/settings.json
original-sources/school-reopening/
.vscode/launch.json
Rplots.pdf
diagnostics/
.Rproj.user
*.png
*.log
*.html