*.RData
*.Rhistory
*.Rproj.user
.Rproj.user
*.Rproj
*.bat
*.R
*.Rout
*.txt
*.zip
*.ini
/backend
rt_estimates_for_TMC/
original-sources/dshs-new-cases/
dshs-scrape.py
.vscode/settings.json
original-sources/school-reopening/
